

div.results {
    margin: 20px 100px 0 100px;
}

html {
    font-family: 'Open Sans', sans-serif;
    size: .8em;
}

p {
    margin: 20px 0;
}

div.page {
    /*text-align: center;*/
}

p#article_text {
    size: 12px;
    margin-left: 100px;
    margin-right: 100px;
}

#header {
    height: 50px;
    width: 100%;
}

h1#header_text {
    size: 300px;
    text-align: center;
}

#subheader {
    color: #777;
    text-align: center;
    margin-bottom: 50px;
}


div.form_div {
    text-align: center;
    margin-top: 10px;
}

#helper_text {
    text-align: center;
    color: #777;
}

.mid_header {
    text-align: center;
}

a.initial_select_button {
    text-decoration: none;
}

span.button_text {
    color: white;
    background-color: #83accd;
    padding: 20px;
    margin: 0 20px 0 20px;

}

span.button_text:hover {
    background-color: #003366;
}
div#buttons {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
